@use 'vars' as *;

.cuisines {
    background-color: $section-background;
    margin: 0 0.75rem 1rem 0.75rem;
    max-height: fit-content;
    

    h2 {
        font-family: $heading-font;
        text-transform: uppercase;
        font-weight: 400;
        margin: 0;
        padding:0.5rem;
        background-color: $footer-background;
        color: $header-font-color;
    };

    .list-wrap{
        ul{
            font-family: $body-font;
            font-size: 1rem;
            font-weight: 500;
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin: 0.75rem;
            padding-left: 0;
            padding-bottom: 0.75rem;

            li {
                width: 50%;
                text-align: justify;

                a {
                    color: black;
                    text-decoration: none;
                    line-height: 1.5;
                }
            
            }
        }
    }
};
// lARGE PHONES
@media (min-width:21em){
        
};

// SMALL TABS
@media (min-width:31em){
    .cuisines {
        .list-wrap{
            ul{
                width: 75%;
                li { 
                    width: 30%;
                }
            };
        };
    };
};

// LARGE TABS
@media (min-width:42em){
        
};

// DESKTOP
@media (min-width:50em){
    .cuisines {
        margin: 1rem 0.75rem 0 0;
        
        .list-wrap{
            ul{
                flex-direction: column;
                width: fit-content;
                height: max-content;
                padding-bottom: 0;
                li {
                    width: 100%;
                    a{
                        line-height: 2;
                        display: flex;
                    }
                }
            }
        }
    }
}
    
