@use 'vars' as *;

// Box Sizing Reset
html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  // Images - Max-Width Reset
  img {
    max-width: 100%;
    height: auto;
  }


  h1, h2, h3, h4, h5, nav a {
    font-family: $nav-font;
  }
  
  
  header {
    background-color: $heading-1-background;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .banner img {
        height: 30px;
    }
  
    h1 {
      display: none;
    }
  }

  // Hamburger Styles
  .btn-menu {
    margin: 0 20px 20px 0;
    display: block;
    width: 40px;
    background-color: transparent;
    border: none;
    padding: 0;
  
    .button-content {
      display: block;
      height: 24px;
      cursor: pointer;
    }
  
    .text {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0,0,0,0);
      border: 0;
    }
  
    .bar {
      display: block;
      height: 4px;
      background-color: $heading-2-background;
      width: 100%;
      position: relative;
      top: 10px;
      transition: all 0.3s ease-in-out;
      border-radius: 2px;
  
      &:before, &:after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: $heading-2-background;
        position: absolute;
        transition: all 0.3s ease-in-out;
        border-radius: 2px;
      }
  
      &:before {
        top: 10px;
        left: 0;
      }
  
      &:after {
        top: -10px;
        left: 0;
      }
    }
  
    &:focus {
      outline: none;
  
      .button-content {
        outline: 5px solid #7683C9;
      }
    }
  
    &.show {
      .bar {
        background-color: transparent;	
  
        &:before {
          top: 0;
          transform: rotate(45deg);	
        }
  
        &:after {
          top: 0;
          transform: rotate(-45deg);	
        }
      }
    }
  }
  

  // Responsive Menus
  // Dropdown Menu

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    background-color: $navbar-background; 
    display: block;
  
    &.activated {
      transition: height 0.3s ease, visibility 0s 0.3s;
    }
  
    &.show {
      transition: height 0.3s ease, visibility 0s;
      visibility: visible;
      height: auto;
    }
  
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  
    a { text-decoration: none;
        padding: 0 20px;
        font-size: 1.2em;
        display: block;
        color: $header-font-color;
        line-height: 30px;
        text-align: center;
        border-top: 2px solid $button-hover;
        border-left: 2px solid $button-hover;
        border-right: 2px solid $button-hover;
    
        &:first-child {
          border-top: none;
        }
    
        &:last-child {
          border-bottom: 2px solid $button-hover;

          border-left: 2px solid $button-hover;

          border-right: 2px solid $button-hover;
        }
  
      &:hover,
      &:active,
      &:focus {
        outline: none;
        background-color: bls(255,255,255, 0.3);
      }
    }
  }
  
  .search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  
    form {
      width: 100%;
      max-width: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
  
      input[type="text"] {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
      }
  
      button {
        position: absolute;
        right: 10px;
        width: 20%;
        padding: 10px;
        border: none;
        color: white;
        border-radius: 5px;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }
  
//   Social Links
  .social-links {
    background-color: $section-background;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    a {
      display: inline-block;
      fill: $heading-2-background;
      padding: 0 10px;
      border: none;
    }
  }

