@use 'vars' as *;

body{
    background-image: url(../images/bg.jpg);
    background-repeat: repeat;
    background-position: top;
}

// DESKTOP
@media (min-width:50em){
    body{
        .site-main{
            max-width: 60em;
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;

            .col-left{
                max-width: 75%;
                height: fit-content;
                padding: 0;
                float: left;
                margin-top: 1rem
            };

            .col-right{
                display: flex;
                flex-direction: column;
                float: right;
                max-width: 25%;
                height: fit-content;
                padding: 0;
                margin-top:1rem; 
            };
        };
    };
};