
/* THIS FILE IS FOR CREATING VARIABLES ONLY */

// color palette
$heading-1-background: #f9f9f9;
$heading-2-background: #005991;
$navbar-background: #1A71A9;
$section-background: #0A0706;
$footer-background: #005991;

// fonts
$nav-font: "Roboto Condensed", san-serif;
$heading-font: "Roboto Condensed", san-serif;
$body-font: "Roboto", san-serif;