
/* THIS FILE IS FOR CREATING VARIABLES ONLY */

// color palette
$heading-1-background: #f9f9f9;
$heading-2-background: #466fa4;
$gallery-heading-bg: #0000007e;
$header-font-color: #FFFFFF;
$navbar-background: #466fa4;
$section-background: #FFFFFF;
$footer-background: #466fa4;
$header-background: #f9f9f9;
$button-hover: #2a5da0;
$odd-child-background: #E8E8E9;

// fonts
$nav-font: "Roboto Condensed", san-serif;
$heading-font: "Roboto Condensed", san-serif;
$body-font: "Roboto", san-serif;
